<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanbao.mapper.MenuPermissionMapper" >

<!-- hb_menu_permission table all fields -->
<sql id="Po_Column_List" >
	 id,description,createTime,updateTime,status,remark
</sql>

<!-- 查询条件 -->
<sql id="Po_Where_Clause">
<where>
	<if test="model.id != null  and model.id != '' ">
		 and id = #{id}
	</if>
	<if test="model.description != null  and model.description != '' ">
		 and description = #{description}
	</if>
	<if test="model.createTime != null  ">
		 and createTime=#{model.createTime}
	</if>
	<if test="model.updateTime != null  ">
		 and updateTime=#{model.updateTime}
	</if>
	<if test="model.status != null  ">
		 and status=#{model.status}
	</if>
	<if test="model.remark != null  and model.remark != '' ">
		 and remark like '%${model.remark}%'
	</if>

</where>
</sql>
   
<!-- 插入记录 [说明：如果要返回当前对象，需要如下配置：<insert id="addVo" parameterType="Object" useGeneratedKeys="true" keyProperty="id">] -->
<insert id="create">
  insert into  hb_menu_permission 
(	<trim  suffixOverrides="," >
	<if test="model.id != null  ">
		id,
	</if>
	<if test="model.description != null  ">
		description,
	</if>
	<if test="model.createTime != null  ">
		createTime,
	</if>
	<if test="model.updateTime != null  ">
		updateTime,
	</if>
	<if test="model.status != null  ">
		status,
	</if>
	<if test="model.remark != null  ">
		remark,
	</if>
	</trim> 
)
 values 
(	<trim  suffixOverrides="," >
	<if test="model.id != null  ">
		#{model.id},
	</if>
	<if test="model.description != null  ">
		#{model.description},
	</if>
	<if test="model.createTime != null  ">
		#{model.createTime},
	</if>
	<if test="model.updateTime != null  ">
		#{model.updateTime},
	</if>
	<if test="model.status != null  ">
		#{model.status},
	</if>
	<if test="model.remark != null  ">
		#{model.remark},
	</if>
	</trim>
)
</insert>

<!-- 多条件删除记录 -->
<select id="delPo" resultType="java.lang.Integer">
	delete from hb_menu_permission 
	<include refid="Po_Where_Clause"/>
</select>

<!-- 删除记录 -->
<delete id="delPoByPk">
	delete 	 from hb_menu_permission where id = #{id}
</delete>

<!--批量删除-->
<delete id="delPoList">
	delete 	 from hb_menu_permission where id in 
	<foreach item="idItem" collection="list" index="index" open="(" separator="," close=")"> 
	#{idItem}
	</foreach> 
</delete>

<!-- 根据id，修改记录-->  
 <update id="modPo">
  update hb_menu_permission set description=#{model.description},createTime=#{model.createTime},updateTime=#{model.updateTime},status=#{model.status},remark=#{model.remark} where id=#{model.id}
 </update>
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="modPoNotNull">
	update hb_menu_permission set 
	<trim  suffixOverrides="," >
	<if test="model.description != null  and model.description != '' ">
		description=#{model.description},
	</if>
	<if test="model.createTime != null  ">
		createTime=#{model.createTime},
	</if>
	<if test="model.updateTime != null  ">
		updateTime=#{model.updateTime},
	</if>
	<if test="model.status != null  ">
		status=#{model.status},
	</if>
	<if test="model.remark != null  and model.remark != '' ">
		remark=#{model.remark},
	</if>
	</trim> where id=#{model.id}
</update>

<!-- 根据id查询 员工权限表 -->
<select id="getPoByPk"  resultType="com.mall.model.MenuPermission">
	select 
	<include refid="Po_Column_List"/>
	from hb_menu_permission  
	where id = #{id}
</select>

<!-- 员工权限表 列表总数-->
<select id="getPoCount" resultType="java.lang.Long">
	select count(1) from hb_menu_permission  
	<include refid="Po_Where_Clause"/>
</select>

<!-- 查询员工权限表列表 -->
<select id="readList" resultType="com.mall.model.MenuPermission">
	select 
	<include refid="Po_Column_List"/>
	from hb_menu_permission 
	<include refid="Po_Where_Clause"/>
	limit #{startRow},#{pageSize} 
</select>

</mapper>