<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanbao.mapper.AgentBillDetailDao">

    <sql id="fields">
        agentId,orderNo,scale,amount,company,userName,phone,bankCard,bankTypeCode,bankType,bankBranch,agentAreaId,agentProvince,agentCity,
        agentCountry,address,agentLevel,billday,createTime,updateTime,status,remark
    </sql>

    <sql id="fields_id">
        id,<include refid="fields"/>
    </sql>

    <sql id="table_name">hb_agent_bill_detail</sql>

    <sql id="selector">
        select <include refid="fields_id"/> from <include refid="table_name"/>
    </sql>

    <sql id="condition">
        <where>
            <if test="model.agentId != null and model.agentId != ''">agentId=#{model.agentId}</if>
            <if test="model.orderNo != null and model.orderNo != ''">and orderNo=#{model.orderNo}</if>
        </where>
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="table_name"/>(<include refid="fields_id"/>)
        values(#{model.id},#{model.agentId},#{model.orderNo},#{model.scale},#{model.amount},#{model.company},#{model.userName},#{model.phone},#{model.bankCard},#{model.bankTypeCode},#{model.bankType},#{model.bankBranch},#{model.agentAreaId},#{model.agentProvince},#{model.agentCity},
        #{model.agentCountry},#{model.address},#{model.agentLevel},#{model.billday},now(),now(),#{model.status},#{model.remark});
    </insert>

    <select id="readById" resultType="com.mall.model.AgentBillDetail">
        <include refid="selector"/> where id=#{id}  limit 1;
    </select>

    <select id="readList" resultType="com.mall.model.AgentBillDetail">
        <include refid="selector"/> <include refid="condition"/> limit #{startRow}, #{pageSize};
    </select>

    <select id="readOne" resultType="com.mall.model.AgentBillDetail">
        <include refid="selector"/> <include refid="condition"/> limit 1;
    </select>

    <select id="readCount" resultType="int">
        select count(1) from <include refid="table_name"/> <include refid="condition"/>
    </select>

    <update id="updateById">
        update <include refid="table_name"/>
        <set>
            <if test="model.company != null and model.company !=''">company= #{model.company},</if>
            <if test="model.userName != null and model.userName !=''">userName= #{model.userName},</if>
            <if test="model.phone != null and model.phone !=''">phone= #{model.phone},</if>
            updateTime=now()
        </set>
        where id=#{id}
    </update>

    <update id="deleteById">
        update <include refid="table_name"/> set status = 0,updateTime=now() where id = #{id}
    </update>

    <!-- 根据手机号、姓名的信息精确匹配，公司名称模糊匹配查询代理业绩 -->
    <select id="getAgentBillDetail" resultType="com.mall.model.AgentBillDetail">
        <include refid="selector"/>
        <where>
            1=1
           <if test="model.phone != null and model.phone !='' ">
				AND (phone= #{model.phone} or userName= #{model.phone}  or company LIKE CONCAT('%',#{model.phone}, '%') ) 
			</if>
            <if test="model.userName != null and model.userName != ''">and userName=#{model.userName}</if>
            <if test="model.company != null and model.company != ''">and company LIKE CONCAT('%',#{model.company}, '%')</if>
            <if test="model.agentProvince != null and model.agentProvince != ''">and agentProvince=#{model.agentProvince}</if>
            <if test="model.agentCity != null and model.agentCity != ''">and agentCity=#{model.agentCity}</if>
            <if test="model.agentCountry != null and model.agentCountry != ''">and agentCountry=#{model.agentCountry}</if>
            <if test="model.agentLevel != null and model.agentLevel != ''">and agentLevel=#{model.agentLevel}</if>
            <if test="fromTime != null">and updateTime>=#{fromTime}</if>
            
            <if test="stopTime != null">and #{stopTime}>=updateTime</if>
            <if test="model.status != null">and status=#{model.status}</if>
        </where>
        ORDER BY createTime DESC
        limit #{page.startRow}, #{page.pageSize};
    </select>

    <select id="readAgentBillDetailCount" resultType="int">
        select count(1) from <include refid="table_name"/>
        <where>
            1=1
            <if test="model.phone != null and model.phone !='' ">
				AND (phone= #{model.phone} or userName= #{model.phone}  or company LIKE CONCAT('%',#{model.phone}, '%') ) 
			</if>
            <if test="model.userName != null and model.userName != ''">and userName=#{model.userName}</if>
            <if test="model.company != null and model.company != ''">and company LIKE CONCAT('%',#{model.company}, '%')</if>
            <if test="model.agentProvince != null and model.agentProvince != ''">and agentProvince=#{model.agentProvince}</if>
            <if test="model.agentCity != null and model.agentCity != ''">and agentCity=#{model.agentCity}</if>
            <if test="model.agentCountry != null and model.agentCountry != ''">and agentCountry=#{model.agentCountry}</if>
            <if test="model.agentLevel != null and model.agentLevel != ''">and agentLevel=#{model.agentLevel}</if>
            <if test="fromTime != null">and updateTime>=#{fromTime}</if>
            <if test="stopTime != null">and #{stopTime}>=updateTime</if>
            <if test="model.status != null">and status=#{model.status}</if>
        </where>
    </select>


    <!-- 根据手机号、姓名的信息精确匹配，公司名称模糊匹配查询代理业绩 -->
    <select id="getAgentBillDetailByTime" resultType="com.mall.model.AgentBillDetail">
        <include refid="selector"/>
        <where>
            1=1
            <if test="model.agentId != null and model.agentId != ''">and agentId=#{agentId}</if>
            <if test="createTime != null">and createTime>=#{fromTime}</if>
        </where>
        limit 0, 1;
    </select>


</mapper>


