<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanbao.mapper.GoodsIssueDetailDao">

    <sql id="fields">
        orderNo,userId,nickName,issueId,issueNo,goodsId,goodsName,icon,price,drawPrice,isWinner,score,createTime,updateTime,status,remark
    </sql>

    <sql id="fields_id">
        id,<include refid="fields"/>
    </sql>

    <sql id="table_name">hb_mall_goods_issue_detail</sql>

    <sql id="selector">
        select <include refid="fields_id"/> from <include refid="table_name"/>
    </sql>

    <sql id="condition">
        <where>
            <if test="model.orderNo != null and model.orderNo != ''">orderNo=#{model.orderNo}</if>
            <if test="model.userId != null and model.userId != ''">and userId=#{model.userId}</if>
            <if test="model.issueId != null and model.issueId != ''">and issueId=#{model.issueId}</if>
            <if test="model.issueNo != null">and issueNo=#{model.issueNo}</if>
            <if test="model.goodsId != null and model.goodsId != ''">and goodsId=#{model.goodsId}</if>
            <if test="model.goodsName != null and model.goodsName != ''">and goodsName=#{model.goodsName}</if>
            <if test="model.icon != null and model.icon != ''">and icon=#{model.icon}</if>
            <if test="model.price != null">and price=#{model.price}</if>
            <if test="model.drawPrice != null">and drawPrice=#{model.drawPrice}</if>
            <if test="model.isWinner != null">and isWinner=#{model.isWinner}</if>
            <if test="model.score != null">and score=#{model.score}</if>
            <if test="model.status != null">and status=#{model.status}</if>
            <if test="model.remark != null and model.remark != ''">and remark=#{model.remark}</if>
        </where>
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="table_name"/>(<include refid="fields_id"/>)
        values(#{model.id},#{model.orderNo},#{model.userId},#{model.nickName},#{model.issueId},#{model.issueNo},#{model.goodsId},#{model.goodsName},#{model.icon},#{model.price},#{model.drawPrice},#{model.isWinner},#{model.score},now(),now(),1,#{model.remark});
    </insert>

    <select id="readById" resultType="com.mall.model.GoodsIssueDetail">
        <include refid="selector"/> where id=#{id} limit 1;
    </select>

    <select id="readList" resultType="com.mall.model.GoodsIssueDetail">
        <include refid="selector"/> <include refid="condition"/> limit #{startRow}, #{pageSize};
    </select>

    <select id="readOne" resultType="com.mall.model.GoodsIssueDetail">
        <include refid="selector"/> <include refid="condition"/> limit 1;
    </select>

    <select id="readCount" resultType="int">
        select count(1) from <include refid="table_name"/> <include refid="condition"/>
    </select>

    <update id="updateById">
        update <include refid="table_name"/>
        <set>
            <if test="model.orderNo != null and model.orderNo !=''">orderNo= #{model.orderNo},</if>
            <if test="model.userId != null and model.userId !=''">userId= #{model.userId},</if>
            <if test="model.issueId != null and model.issueId !=''">issueId= #{model.issueId},</if>
            <if test="model.issueNo != null">issueNo= #{model.issueNo},</if>
            <if test="model.goodsId != null and model.goodsId !=''">goodsId= #{model.goodsId},</if>
            <if test="model.goodsName != null and model.goodsName !=''">goodsName= #{model.goodsName},</if>
            <if test="model.icon != null and model.icon !=''">icon= #{model.icon},</if>
            <if test="model.price != null">price= #{model.price},</if>
            <if test="model.drawPrice != null">drawPrice= #{model.drawPrice},</if>
            <if test="model.isWinner != null">isWinner= #{model.isWinner},</if>
            <if test="model.score != null">score= #{model.score},</if>
            <if test="model.status != null">status= #{model.status},</if>
            <if test="model.remark != null and model.remark !=''">remark= #{model.remark},</if>
            updateTime=now()
        </set>
        where id=#{id}
    </update>

    <update id="deleteById">
        update <include refid="table_name"/> set status = 0,updateTime=now() where id = #{id}
    </update>

    <select id="getGoodsIssueDetailVoList" resultType="com.yanbao.vo.GoodsIssueDetailVo">
        SELECT d.*, u.phone,u.userName,u.uid FROM hb_mall_goods_issue_detail d LEFT JOIN hb_sys_user u on u.id=d.userId
        <where>
            <if test="model.phone != null and model.phone != ''">u.phone=#{model.phone}</if>
            <if test="model.userName != null and model.userName != ''">and u.userName LIKE CONCAT(CONCAT('%', #{model.userName}), '%')</if>
            <if test="model.storeName != null and model.storeName != ''">d.storeName=#{model.storeName}</if>
            <if test="model.userId != null and model.userId != ''">and d.userId=#{model.userId}</if>
            <if test="model.issueId != null and model.issueId != ''">and d.issueId=#{model.issueId}</if>
            <if test="model.goodsId != null and model.goodsId != ''">and d.goodsId=#{model.goodsId}</if>
            <if test="model.issueNo != null ">and d.issueNo=#{model.issueNo}</if>
            <if test="model.uid != null">and u.uid=#{model.uid}</if>
            <if test="model.stopTime != null">and #{model.stopTime}>=d.createTime</if>
            <if test="model.fromTime != null">and d.createTime>= #{model.fromTime}</if>
            <if test="model.status != null">and d.status=#{model.status}</if>
            <if test="model.goodsName != null and model.goodsName != ''">and goodsName LIKE CONCAT('%',#{model.goodsName},'%')</if>
        </where>
        order by d.createTime desc
        limit #{pageNo},#{pageSize}
    </select>

    <select id="getGoodsIssueDetailVoCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM hb_mall_goods_issue_detail d LEFT JOIN hb_sys_user u on u.id=d.userId
        <where>
            <if test="model.phone != null and model.phone != ''">u.phone=#{model.phone}</if>
            <if test="model.userName != null and model.userName != ''">and u.userName LIKE CONCAT(CONCAT('%', #{model.userName}), '%')</if>
            <if test="model.storeName != null and model.storeName != ''">d.storeName=#{model.storeName}</if>
            <if test="model.userId != null and model.userId != ''">and d.userId=#{model.userId}</if>
            <if test="model.issueId != null and model.issueId != ''">and d.issueId=#{model.issueId}</if>
            <if test="model.goodsId != null and model.goodsId != ''">and d.goodsId=#{model.goodsId}</if>
            <if test="model.issueNo != null ">and d.issueNo=#{model.issueNo}</if>
            <if test="model.uid != null">and u.uid=#{model.uid}</if>
            <if test="model.stopTime != null">and #{model.stopTime}>=d.createTime</if>
            <if test="model.fromTime != null">and d.createTime>= #{model.fromTime}</if>
            <if test="model.status != null">and d.status=#{model.status}</if>
            <if test="model.goodsName != null and model.goodsName != ''">and goodsName LIKE CONCAT('%',#{model.goodsName},'%')</if>
        </where>
        
    </select>
</mapper>


