<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanbao.mapper.GoodsDetailDao">

	<sql id="fields">
        id, type,goodsId, model, content, rank,
		createTime, updateTime, status, remark
    </sql>
    
    <sql id="table">hb_mall_goods_detail</sql>
    
    <sql id="selector">
        SELECT <include refid="fields"/>
        FROM <include refid="table"/>
    </sql>

</mapper>


