<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanbao.mapper.SysCityDao">

    <sql id="fields">
        code,name,parentCode,shortName,level,areaCode,zipCode,zhName
    </sql>

    <sql id="fields_id">
        <include refid="fields"/>
    </sql>

    <sql id="table_name">hb_sys_city</sql>

    <sql id="selector">
        select <include refid="fields_id"/> from <include refid="table_name"/>
    </sql>

    <sql id="condition">
        <where>
            <if test="model.code != null and model.code != ''">code=#{model.code}</if>
            <if test="model.name != null and model.name != ''">and name=#{model.name}</if>
            <if test="model.parentCode != null and model.parentCode != ''">and parentCode=#{model.parentCode}</if>
            <if test="model.shortName != null and model.shortName != ''">and shortName=#{model.shortName}</if>
            <if test="model.level != null and model.level != ''">and level=#{model.level}</if>
            <if test="model.zipCode != null and model.zipCode != ''">and zipCode=#{model.zipCode}</if>
            <if test="model.zhName != null and model.zhName != ''">and zhName=#{model.zhName}</if>
            
        </where>
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="table_name"/>(<include refid="fields_id"/>)
        values(#{model.id},#{model.url},#{model.name},#{model.lastNo},now(),#{model.status},#{model.remark});
    </insert>

    <select id="readById" resultType="com.mall.model.City">
        <include refid="selector"/> where id=#{id}  limit 1;
    </select>

    <select id="readList" resultType="com.mall.model.City">
        <include refid="selector"/> <include refid="condition"/> limit #{startRow}, #{pageSize};
    </select>

    <select id="readOne" resultType="com.mall.model.City">
        <include refid="selector"/> <include refid="condition"/> limit 1;
    </select>

    <select id="readCount" resultType="int">
        select count(1) from <include refid="table_name"/> <include refid="condition"/>
    </select>

    <update id="updateById">
        update <include refid="table_name"/>
        <set>
            <if test="model.url != null and model.url != ''">url=#{model.url}</if>
            <if test="model.name != null and model.name != ''">and name=#{model.name}</if>
            <if test="model.lastNo!= null">and lastNo=#{model.lastNo}</if>
            <if test="model.status != null">and status=#{model.status}</if>
            <if test="model.remark != null and model.remark != ''">and remark=#{model.remark}</if>
        </set>
        where id=#{id}
    </update>

    <update id="deleteById">
        update <include refid="table_name"/> set status = 0,createTime=now() where id = #{id}
    </update>
</mapper>


