<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanbao.mapper.WalletSignDao">

	<sql id="fields">
        id, userId, donateUserId, donateUid, score,confirmScore,poundage,createTime, updateTime, status, remark,orderNo,signNo,grade,signCount,signTime,type,scale,doudou
    </sql>
    
    <sql id="table">hb_wallet_sign</sql>
    
    <sql id="selector">
        SELECT <include refid="fields"/>
        FROM <include refid="table"/>
    </sql>
    
      <sql id="condition">
        <where>
            <if test="model.donateUid != null and model.donateUid != ''">donateUid=#{model.donateUid}</if>
            <if test="model.signNo != null">and signNo=#{model.signNo}</if>
            <if test="model.orderNo != null and model.orderNo != ''">and orderNo=#{model.orderNo}</if>
            <if test="model.status != null">and status=#{model.status}</if>
            <if test="model.remark != null and model.remark != ''">and remark=#{model.remark}</if>
            <if test="model.fromTime != null">and createTime>=#{model.fromTime}</if>
            <if test="model.stopTime != null">and createTime &lt;=#{model.stopTime}</if>
            <if test="model.type != null">and type=#{model.type}</if>
            
        </where>
    </sql>
    
    
    
    
    
    
    
    <select id="readList" resultType="com.mall.model.WalletSign">
        <include refid="selector"/> <include refid="condition"/>and signNo &lt;=30 limit #{startRow}, #{pageSize};
    </select>
    <!-- -->
    <select id="readCount" resultType="int">
        select count(1) from <include refid="table"/> <include refid="condition"/> and signNo &lt;=30
    </select>
    
    
    
    
    
    
    <!-- 查询用户签到列表查询全部- 2017-06-02 -->
    <select id="readSubsidyCount" resultType="int">
        select count(1) from hb_wallet_sign  s INNER JOIN  hb_sys_user u 
    	 <where>
        		1=1
        	 <if test="model.donateUid != null and model.donateUid != ''">and s.donateUid=#{model.donateUid}</if>
             <if test="model.signNo != null">and s.signNo=#{model.signNo}</if>
             <if test="model.orderNo != null and model.orderNo != ''">and s.orderNo=#{model.orderNo}</if>
             <if test="model.status != null">and s.status=#{model.status}</if>
             <if test="model.grade != null">and s.grade=#{model.grade}</if>
            
             <if test="model.phone != null and model.phone != ''">and u.phone=#{model.phone}</if>
             <if test="model.remark != null and model.remark != ''">and s.remark=#{model.remark}</if>
             <if test="model.fromTime != null">and s.createTime>=#{model.fromTime}</if>
             <if test="model.stopTime != null">and s.createTime &lt;=#{model.stopTime}</if>
        	
        	
    	</where>
    	 and  s.userId   = u.id 
    </select>
    
    
    
    
    
    
    
    
    <!--查询用户签到列表- 2017-06-02 -->
    <select id="readList1" resultType="com.yanbao.vo.WalletSignVo">
    	select s.* ,u.userName,u.phone from hb_wallet_sign  s INNER JOIN  hb_sys_user u 
    	 <where>
        	1=1
        	 <if test="model.donateUid != null and model.donateUid != ''">and s.donateUid=#{model.donateUid}</if>
             <if test="model.signNo != null">and s.signNo=#{model.signNo}</if>
             <if test="model.orderNo != null and model.orderNo != ''">and s.orderNo=#{model.orderNo}</if>
             <if test="model.status != null">and s.status=#{model.status}</if>
             <if test="model.grade != null">and s.grade=#{model.grade}</if>
             <if test="model.type != null">and s.type=#{model.type}</if>
             <if test="model.phone != null and model.phone != ''">and u.phone=#{model.phone}</if>
             <if test="model.remark != null and model.remark != ''">and s.remark=#{model.remark}</if>
             <if test="model.fromTime != null">and s.createTime>=#{model.fromTime}</if>
             <if test="model.stopTime != null">and s.createTime &lt;=#{model.stopTime}</if>
        	
        	
    	</where>
    	 and  s.userId   = u.id  order by s.createTime desc     limit #{page.startRow}, #{page.pageSize}
    </select>
    
    
    
    
   <!--（已弃） -->
    
    <select id="readSubsidyList" resultType="com.yanbao.vo.WalletSignVo">
    	select s.* ,u.userName,u.phone from hb_wallet_sign  s INNER JOIN  hb_sys_user u 
    	 <where>
        	1=1
        	 <if test="model.donateUid != null and model.donateUid != ''">s.donateUid=#{model.donateUid}</if>
             <if test="model.signNo != null">and s.signNo=#{model.signNo}</if>
             <if test="model.orderNo != null and model.orderNo != ''">and s.orderNo=#{model.orderNo}</if>
             <if test="model.status != null">and s.status=#{model.status}</if>
             <if test="model.remark != null and model.remark != ''">and s.remark=#{model.remark}</if>
             <if test="model.fromTime != null">and s.createTime>=#{model.fromTime}</if>
             <if test="model.stopTime != null">and s.createTime &lt;=#{model.stopTime}</if>
        	
        	
    	</where>
    	 and  s.userId   = u.id   limit #{page.startRow}, #{page.pageSize}
    </select> 
    
    
    
    
    
    
    
    
    
    
    
    
	<!-- 获取用户签到列表-->
	<select id="getList" resultType="WalletSign">
		<include refid="selector"/>
		WHERE status = 1 and userId = #{userid}
		ORDER BY createTime ASC
		LIMIT #{page.startRow}, #{page.pageSize}
	</select>
	
	<select id="count" resultType="Integer">
		SELECT COUNT(id)
		FROM <include refid="table"/>
		WHERE status = 1 and userId = #{userid}
	</select>
	
	
	<select id="signSUM" resultType="java.lang.Double">
			SELECT IFNULL(SUM(score),0)
			FROM <include refid="table"/>
	</select>
	
	
</mapper>


