<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanbao.mapper.AgreementMapper">

	<sql id="fields">
        id, userAgreement, storeAgreement, createTime, updateTime, status, remark
    </sql>
    
    <sql id="table">hb_sys_agreement</sql>
    
    <sql id="selector">
        SELECT <include refid="fields"/>
        FROM <include refid="table"/>
    </sql>
    
    <select id="get" resultType="Agreement">
		<include refid="selector"/>
		LIMIT 1;
	</select>
	
</mapper>


