<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanbao.mapper.BankMapper">

	<sql id="fields">
        id, name, bankIcon, createTime, updateTime, 
		status, remark
    </sql>
    
    <sql id="table">hb_sys_bank</sql>
    
    <sql id="selector">
        SELECT <include refid="fields"/>
        FROM <include refid="table"/>
    </sql>

	<select id="getList" resultType="Bank">
		<include refid="selector"/>
        WHERE status = 1   ORDER BY createTime desc
	</select>
	
</mapper>


