<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanbao.mapper.EPRecordMapper">

	<sql id="fields">
        id,userType,orderNo, sendUserId,receiveUserId, ep, recordType,recordTypeDesc,
        createTime, updateTime, status, remark
    </sql>
    
    <sql id="table">hb_ep_record</sql>
    
    <sql id="selector">
        SELECT <include refid="fields"/>
        FROM <include refid="table"/>
    </sql>

	<select id="count" resultType="Integer">
		SELECT COUNT(id)
		FROM <include refid="table"/>
		WHERE 1=1
		AND (sendUserId = #{userId} OR receiveUserId =#{userId})
		<if test="recordTypes != null">
		AND recordType IN
		<foreach collection="recordTypes" index="index" item="item" open="(" separator="," close=")">
		   #{item}
		</foreach>
		</if>
	</select>

	<!--因为直接购买、面对面、商家二维码有两条ep流水记录，赠送者为负数，获赠者为正数，现暂时特殊处理查询sql by jay.zheng 2017-08-09-->
	<select id="getList" resultType="EpRecord">
		<include refid="selector"/>
		WHERE 1=1
		AND ((sendUserId = #{userId} AND ep &lt; 0)  OR (receiveUserId =#{userId} AND ep &gt;  0)
				OR (sendUserId = #{userId} AND receiveUserId = 'system') OR (receiveUserId =#{userId} AND sendUserId = 'system'))
		<if test="recordTypes != null">
			AND recordType IN
			<foreach collection="recordTypes" index="index" item="item" open="(" separator="," close=")">
			   #{item}
			</foreach>
		</if>
		ORDER BY createTime DESC
		LIMIT #{page.startRow}, #{page.pageSize}
	</select>

	<insert id="add" keyProperty="id">
        INSERT INTO <include refid="table"/> (<include refid="fields"/>)
		VALUES (#{model.id},#{model.userType}, #{model.orderNo}, #{model.sendUserId},#{model.receiveUserId},  #{model.ep}, #{model.recordType},#{model.recordTypeDesc},
			#{model.createTime}, #{model.updateTime}, #{model.status}, #{model.remark})
    </insert> 
    
    <update id="update">
        UPDATE <include refid="table"/>
        <set>
        	<if test="model.updateTime != null">updateTime= #{model.updateTime},</if>
            <if test="model.status != null">status= #{model.status},</if>
            <if test="model.remark != null">remark= #{model.remark},</if>
        </set>
		WHERE id = #{id}
    </update>
</mapper>


