<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanbao.mapper.IndexAdMapper">

	<sql id="fields">
        id, type,title, adImg, href, rank,
		createTime, updateTime, status, remark
    </sql>
    
    <sql id="table">hb_index_ad</sql>
    
    <sql id="selector">
        SELECT <include refid="fields"/>
        FROM <include refid="table"/>
    </sql>

	<!-- 获取首页六张图广告列表 -->
	<select id="getList" resultType="IndexAd">
		<include refid="selector"/>
		WHERE status = 1
		ORDER BY rank ASC
	</select>
	
	
</mapper>


