<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanbao.mapper.PartnerSumBillMapper">

    <sql id="fields">
        partnerId,userId,userGrade,userStoreId,orderNo,totalAmount,userName,phone,areaId,province,city,country,grade,EP,EPScale,balanceScale,balance,createTime,updateTime,status,remark,billday,uid
    </sql>

    <sql id="fields_id">
        id,<include refid="fields"/>
    </sql>

    <sql id="table_name">hb_partner_bill</sql>

    <sql id="selector">
        select <include refid="fields_id"/> from <include refid="table_name"/>
    </sql>

    <sql id="condition">
        <where>
            <if test="model.partnerId != null and model.partnerId != ''">partnerId=#{model.partnerId}</if>
            <if test="model.userId != null and model.userId != ''">and userId=#{model.userId}</if>
            <if test="model.userGrade != null">and userGrade=#{model.userGrade}</if>
            <if test="model.userStoreId != null and model.userStoreId != ''">and userStoreId=#{model.userStoreId}</if>
            <if test="model.orderNo != null and model.orderNo != ''">and orderNo=#{model.orderNo}</if>
            <if test="model.totalAmount != null">and totalAmount=#{model.totalAmount}</if>
            <if test="model.userName != null and model.userName != ''">and userName=#{model.userName}</if>
            <if test="model.phone != null and model.phone != ''">and phone=#{model.phone}</if>
            <if test="model.areaId != null and model.areaId != ''">and areaId=#{model.areaId}</if>
            <if test="model.province != null and model.province != ''">and province=#{model.province}</if>
            <if test="model.city != null and model.city != ''">and city=#{model.city}</if>
            <if test="model.country != null and model.country != ''">and country=#{model.country}</if>
            <if test="model.grade != null">and grade=#{model.grade}</if>
            <if test="model.EP != null">and EP=#{model.EP}</if>
            <if test="model.EPScale != null">and EPScale=#{model.EPScale}</if>
            <if test="model.balanceScale != null">and balanceScale=#{model.balanceScale}</if>
            <if test="model.balance != null">and balance=#{model.balance}</if>
            <if test="model.status != null">and status=#{model.status}</if>
            <if test="model.remark != null and model.remark != ''">and remark=#{model.remark}</if>
            <if test="model.billday != null and model.billday != ''">and billday=#{model.billday}</if>
            <if test="model.uid != null">and uid=#{model.uid}</if>
        </where>
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="table_name"/>(
        <trim  suffixOverrides="," >
            <if test="model.id!= null  and model.id!=''">
                id,
            </if>
            <if test="model.partnerId!= null  and model.partnerId!=''">
                partnerId,
            </if>
            <if test="model.userId!= null  and model.userId!=''">
                userId,
            </if>
            <if test="model.userGrade!= null  and model.userGrade!=''">
                userGrade,
            </if>
            <if test="model.userStoreId!= null  and model.userStoreId!=''">
                userStoreId,
            </if>
            <if test="model.orderNo!= null  and model.orderNo!=''">
                orderNo,
            </if>
            <if test="model.totalAmount!= null  and model.totalAmount!=''">
                totalAmount,
            </if>
            <if test="model.userName!= null  and model.userName!=''">
                userName,
            </if>
            <if test="model.phone!= null  and model.phone!=''">
                phone,
            </if>
            <if test="model.areaId!= null  and model.areaId!=''">
                areaId,
            </if>
            <if test="model.province!= null  and model.province!=''">
                province,
            </if>
            <if test="model.city!= null  and model.city!=''">
                city,
            </if>
            <if test="model.country!= null  and model.country!=''">
                country,
            </if>
            <if test="model.grade!= null  and model.grade!=''">
                grade,
            </if>
            <if test="model.EP!= null  and model.EP!=''">
                EP,
            </if>
            <if test="model.EPScale!= null  and model.EPScale!=''">
                EPScale,
            </if>
            <if test="model.balanceScale!= null  and model.balanceScale!=''">
                balanceScale,
            </if>
            <if test="model.balance!= null  and model.balance!=''">
                balance,
            </if>
            <if test="model.createTime!= null ">
                createTime,
            </if>
            <if test="model.updateTime!= null  and model.updateTime!=''">
                updateTime,
            </if>
            <if test="model.status!= null  and model.status!=''">
                status,
            </if>
            <if test="model.remark!= null  and model.remark!=''">
                remark,
            </if>
            <if test="model.billday!= null  and model.billday!=''">
                billday,
            </if>
            <if test="model.uid!= null  and model.uid!=''">
                uid,
            </if>
        </trim>
        )
        values(
        <trim  suffixOverrides="," >

            <if test="model.id!= null  and model.id!=''">
                #{model.id},
            </if>
            <if test="model.partnerId!= null  and model.partnerId!=''">
                #{model.partnerId},
            </if>
            <if test="model.userId!= null  and model.userId!=''">
                #{model.userId},
            </if>
            <if test="model.userGrade!= null  and model.userGrade!=''">
                #{model.userGrade},
            </if>
            <if test="model.userStoreId!= null  and model.userStoreId!=''">
                #{model.userStoreId},
            </if>
            <if test="model.orderNo!= null  and model.orderNo!=''">
                #{model.orderNo},
            </if>
            <if test="model.totalAmount!= null  and model.totalAmount!=''">
                #{model.totalAmount},
            </if>
            <if test="model.userName!= null  and model.userName!=''">
                #{model.userName},
            </if>
            <if test="model.phone!= null  and model.phone!=''">
                #{model.phone},
            </if>
            <if test="model.areaId!= null  and model.areaId!=''">
                #{model.areaId},
            </if>
            <if test="model.province!= null  and model.province!=''">
                #{model.province},
            </if>
            <if test="model.city!= null  and model.city!=''">
                #{model.city},
            </if>
            <if test="model.country!= null  and model.country!=''">
                #{model.country},
            </if>
            <if test="model.grade!= null  and model.grade!=''">
                #{model.grade},
            </if>
            <if test="model.EP!= null  and model.EP!=''">
                #{model.EP},
            </if>
            <if test="model.EPScale!= null  and model.EPScale!=''">
                #{model.EPScale},
            </if>
            <if test="model.balanceScale!= null  and model.balanceScale!=''">
                #{model.balanceScale},
            </if>
            <if test="model.balance!= null  and model.balance!=''">
                #{model.balance},
            </if>
            <if test="model.createTime!= null">
                #{model.createTime},
            </if>
            <if test="model.updateTime!= null  and model.updateTime!=''">
                #{model.updateTime},
            </if>
            <if test="model.status!= null  and model.status!=''">
                #{model.status},
            </if>
            <if test="model.remark!= null  and model.remark!=''">
                #{model.remark},
            </if>
            <if test="model.billday!= null  and model.billday!=''">
                #{model.billday},
            </if>
            <if test="model.uid!= null  and model.uid!=''">
                #{model.uid},
            </if>
        </trim>
        );
    </insert>

    <select id="readById" resultType="com.mall.model.PartnerBill">
        <include refid="selector"/> where id=#{id}  limit 1;
    </select>

    <select id="readList" resultType="com.mall.model.PartnerBill">
        <include refid="selector"/> <include refid="condition"/> limit #{startRow}, #{pageSize};
    </select>

    <select id="readOne" resultType="com.mall.model.PartnerBill">
        <include refid="selector"/> <include refid="condition"/> limit 1;
    </select>

    <select id="getAllPartner" resultType="com.mall.model.PartnerBill">
        select partnerId,SUM(amount) as totalAmount,
                sum(case type when 2 then amount else 0 end ) as EP,
                sum(case type when 1 then amount else 0 end ) as balance
          from hb_partner_bill_detail
          where createtime >= #{startTime} and createtime &lt; #{endTime} and status=1
          GROUP BY partnerid
    </select>

    <select id="readCount" resultType="int">
        select count(1) from <include refid="table_name"/> <include refid="condition"/>
    </select>

    <update id="updateById">
        update <include refid="table_name"/>
        <set>
            <if test="model.partnerId != null and model.partnerId !=''">partnerId= #{model.partnerId},</if>
            <if test="model.userId != null and model.userId !=''">userId= #{model.userId},</if>
            <if test="model.userGrade != null">userGrade= #{model.userGrade},</if>
            <if test="model.userStoreId != null and model.userStoreId !=''">userStoreId= #{model.userStoreId},</if>
            <if test="model.orderNo != null and model.orderNo !=''">orderNo= #{model.orderNo},</if>
            <if test="model.totalAmount != null">totalAmount= #{model.totalAmount},</if>
            <if test="model.userName != null and model.userName !=''">userName= #{model.userName},</if>
            <if test="model.phone != null and model.phone !=''">phone= #{model.phone},</if>
            <if test="model.areaId != null and model.areaId !=''">areaId= #{model.areaId},</if>
            <if test="model.province != null and model.province !=''">province= #{model.province},</if>
            <if test="model.city != null and model.city !=''">city= #{model.city},</if>
            <if test="model.country != null and model.country !=''">country= #{model.country},</if>
            <if test="model.grade != null">grade= #{model.grade},</if>
            <if test="model.EP != null">EP= #{model.EP},</if>
            <if test="model.EPScale != null">EPScale= #{model.EPScale},</if>
            <if test="model.balanceScale != null">balanceScale= #{model.balanceScale},</if>
            <if test="model.balance != null">balance= #{model.balance},</if>
            <if test="model.status != null">status= #{model.status},</if>
            <if test="model.remark != null and model.remark !=''">remark= #{model.remark},</if>
            <if test="model.billday != null and model.billday !=''">billday= #{model.billday},</if>
            <if test="model.uid != null and model.uid !=''">uid= #{model.uid},</if>
            updateTime=now()
        </set>
        where id=#{id}
    </update>

    <update id="deleteById">
        update <include refid="table_name"/> set status = 0,updateTime=now() where id = #{id}
    </update>
</mapper>


