<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanbao.mapper.UserVipMapper">

	<sql id="fields">
        id, userId, uid, userName, nickName, 
		createTime, updateTime, status, remark
    </sql>
    
    <sql id="table">hb_sys_user_vip</sql>
    
    <sql id="selector">
        SELECT <include refid="fields"/>
        FROM <include refid="table"/>
    </sql>


	<select id="getVipList" resultType="String">
		SELECT userId
		FROM <include refid="table"/>
		WHERE userId IN 
		<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
		   #{item}
		</foreach>
	</select>

</mapper>


